<!-- Der Titel von der Pop-Up Karte -->
<h1 mat-dialog-title>Add User</h1>


<!-- Das Inputfeld von der Pop-Up Karte -->
<div mat-dialog-content class="mat-form-field-container">


    <div>
        <mat-form-field appearance="outline" class="margin-right-16">
            <mat-label>First Name</mat-label>
            <input matInput [(ngModel)]="user.firstName" placeholder="Placeholder">
            <!-- <mat-hint>Please enter your firstname</mat-hint> -->
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput [(ngModel)]="user.lastName" placeholder="Placeholder">
            <!-- <mat-hint>Please enter your lastname</mat-hint> -->
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Birth Date</mat-label>
            <input matInput [(ngModel)]="birthDate" [matDatepicker]="picker1">
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <!-- <mat-hint>Please enter a date</mat-hint> -->
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Street + House No.</mat-label>
            <input matInput [(ngModel)]="user.street" placeholder="Placeholder">
            <!-- <mat-hint>Please enter your lastname</mat-hint> -->
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline" class="margin-right-16">
            <mat-label>Zip Code</mat-label>
            <input matInput [(ngModel)]="user.zipCode" placeholder="Placeholder">
            <!-- <mat-hint>Please enter your lastname</mat-hint> -->
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input matInput [(ngModel)]="user.city" placeholder="Placeholder">
            <!-- <mat-hint>Please enter your lastname</mat-hint> -->
        </mat-form-field>
    </div>

</div>


<!-- Die Buttons von der Pop-Up Karte -->
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="" (click)="saveUser()" cdkFocusInitial>Save</button>
</div>