<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>


<!-- Der Titel von der Pop-Up Karte -->
<h1 mat-dialog-title>Send Bitcon</h1>

<div mat-dialog-content class="mat-form-field-container">
    <mat-form-field appearance="outline" class="margin-right-16">
        <mat-label>USD Amount</mat-label>
        <input matInput placeholder="USD Amount" type="number" min="0" step="0.01" [(ngModel)]="transaction.usdAmount" (ngModelChange)="onUSDAmountChange($event)">
        <mat-hint>{{ usdAmountAsString }} = {{ btcAmount }} BTC</mat-hint>
    </mat-form-field>
</div>


<!-- Die Buttons von der Pop-Up Karte -->
<div mat-dialog-actions>
    <button mat-button (click)="this.dialogRef.close()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="saveTransaction()">Send</button>
</div>



