<!-- Der Titel von der Pop-Up Karte -->
<h1 mat-dialog-title>Send Bitcon</h1>


<!-- Das Inputfeld von der Pop-Up Karte -->
<div mat-dialog-content class="mat-form-field-container">

    <mat-form-field appearance="outline" class="margin-right-16">
        <mat-label>BTC Amount</mat-label>
        <input matInput placeholder="BTC Amount">
        <!-- <mat-hint>Please enter your firstname</mat-hint> -->
    </mat-form-field>

</div>


<!-- Die Buttons von der Pop-Up Karte -->
<div mat-dialog-actions>
    <button mat-button>Cancel</button>
    <button mat-button cdkFocusInitial>Send</button>
</div>