<mat-progress-bar *ngIf="this.userForm.disabled" mode="indeterminate"></mat-progress-bar>

<!-- Title of the Dialog -->
<h1 mat-dialog-title>Edit user</h1>


<form [formGroup]="userForm" (ngSubmit)="updateUserDetails()">

    <!-- The Inputfields of the Dialog -->
    <div mat-dialog-content class="mat-form-field-container pt-16">


        <div>
            <mat-form-field appearance="outline" class="margin-right-16">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" placeholder="First Name">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" placeholder="Last Name">
            </mat-form-field>
        </div>

        <!-- <mat-form-field appearance="outline" class="full-width">
            <mat-label>E-Mail</mat-label>
            <input matInput formControlName="email" placeholder="E-Mail">
        </mat-form-field> -->

    </div>


    <!-- The Buttons of the Dialog -->
    <div mat-dialog-actions>
        <button mat-button (click)="this.dialogRef.close()">Cancel</button>
        <button [disabled]="!this.userForm.valid" type="submit" mat-button cdkFocusInitial>Save</button>
    </div>
</form>