<mat-progress-bar *ngIf="this.userForm.disabled" mode="indeterminate"></mat-progress-bar>


<!-- Der Titel von der Pop-Up Karte -->
<h1 mat-dialog-title>Edit user</h1>


<form [formGroup]="userForm" (ngSubmit)="saveUser()">

    <!-- Das Inputfeld von der Pop-Up Karte -->
    <div mat-dialog-content class="mat-form-field-container pt-16">


        <div>
            <mat-form-field appearance="outline" class="margin-right-16">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" placeholder="First Name">
                <!-- <mat-hint>Please enter your firstname</mat-hint> -->
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" placeholder="Last Name">
                <!-- <mat-hint>Please enter your lastname</mat-hint> -->
            </mat-form-field>
        </div>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>E-Mail</mat-label>
            <input matInput formControlName="email" placeholder="E-Mail">
            <!-- <mat-hint>Please enter your lastname</mat-hint> -->
        </mat-form-field>

        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Birth Date</mat-label>
                <input matInput formControlName="birthDate" [matDatepicker]="picker1" placeholder="Date">
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <!-- <mat-hint>Please enter a date</mat-hint> -->
            </mat-form-field>
        </div>
    </div>


    <!-- Die Buttons von der Pop-Up Karte -->
    <div mat-dialog-actions>
        <button mat-button (click)="this.dialogRef.close()">Cancel</button>
        <button [disabled]="!this.userForm.valid" type="submit" mat-button cdkFocusInitial>Save</button>
    </div>
</form>