.login-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: clamp(320px, 256.61971830985914px + 15.845070422535212vw, 500px);
    height: 500px;
    gap: 22px;
}

.login-form {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        font-weight: 500;
        margin-top: 10px;
        cursor: pointer;

        &:hover {
            color: rgb(0 0 0 / 80%);
        }
    }
}

.sign-up-container {
    margin-top: 16px;
}