.center-forms {
    height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: unset;
}

.mat-drawer-container {
    height: 100vh;

    hr {
        border: none;
        background-color: rgb(0 0 0 / 20%);
        height: 1px;
    }
}


.menu-icon {
    cursor: pointer;
    margin-right: 16px;
    overflow: unset;
}


.sidenav {
    width: 300px;
}


.logo-container {
    border-bottom: 1px solid rgb(0 0 0 / 15%);
    padding-left: 8px;
    min-height: 56px;
    display: flex;
    align-items: center;
}


mat-toolbar,
mat-toolbar-row,
.mat-toolbar-containter {
    height: 56px;
    min-height: 56px;
}


.menu-items {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;


    li {
        padding: 0 16px;
        height: 48px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;


        &:hover {
            background-color: #f5f5f5;
        }
    }
}


.router-container {
    padding: 16px 56px 0 56px;
}


@media(max-width: 800px) {
    .router-container {
        padding: 16px 20px;
    }

    .sidenav {
        width: 60px;
    }
}

@media(max-width: 380px) {
    .mat-toolbar-row {
        z-index: 2;
    }
}