<h2 class="rotate-text">Please rotate your Phone for a better View of the Chart!</h2>
<div class="chart-container" #chart>

    <canvas id="transactionChart"></canvas>

</div>


<div class="search-form-container">
    <form class="search-form" role="search">
        <input class="search-input" type="text" placeholder="Search..." autofocus required
            (keyup)="filterUsersByFirstName(filterByName.value)" #filterByName />
        <button class="submit-button" *ngIf="filteredNamesAmount.length == 0" type="submit">0 <b class="result">Results</b></button>
        <button class="submit-button" *ngIf="filteredNamesAmount.length > 0" type="submit">{{ filteredNamesAmount.length }} <b class="result">Results</b></button>
    </form>
</div>