<div>
    <h1>Welcome to the CRM WebApp</h1>

    <p>A simple and intuitive tool developed as a demonstration of coding skills. This
        application is a Customer Relationship Management (CRM) tool that operates with CRUD (Create, Read, Update,
        Delete) functionalities and is based on Angular. Firebase serves as the backend, while the user interface is
        designed using Angular Material, which is based on the principles of Material Design.</p>
    <br>

    <h2>The main functions of the WebApp are as follows:</h2>

    <ul>
        <li><b>Dashboard:</b> You can retrieve current information on the BTC price and the BTC market cap.
            These data are fetched through the integration of the CoinGeckoAPI.</li>
        <li><b>User:</b> Allows the addition of new users. Once created, you can click on the username to go
            to the User Details.</li>
        <li><b>User Details:</b> Here, you can edit user information and "send" BTC amounts.</li>
        <li><b>Transactions:</b> An area where you can view all conducted transactions.</li>
        <li><b>Real-Time Crypto News:</b> Thanks to the integration of the Gnews API, you can read daily
            real-time news from the world of cryptocurrencies here.</li>
    </ul>
    <br>

    <h2>Note:</h2>

    <p>This tool mainly serves for demonstration and illustration of my skills; no real transactions or
    actions are possible. Enjoy exploring and testing!</p>

</div>
