<div>
    <h1>Welcome to my simple CRM web application!</h1>

    <p>Welcome to the Crypto Owners CRM! Here, you can manage your users, keep track of how many bitcoins your users
        own, and even send them a few more.</p>

    <h2>The main functions of the tool are:</h2>

    <ul>
        <li><b>Dashboard:</b> Here, you can retrieve the current Bitcoin prices and market capitalizations to always
            stay up-to-date.</li>
        <li><b>User:</b> To add a new user, navigate to the 'User' section. There, you can view all your users and add a
            new one by clicking on the plus icon at the bottom right.
            <ul>
                <li><b>User Details:</b> After you have created a user, you can click on the username to go to the 'User
                    Details'. Here, you get an overview of the user details and the amount of Bitcoin the user has
                    received so far.</li>
                <li><b>Edit Personal Data:</b> In addition, you can change the personal data here or delete the user.
                </li>
                <li><b>Send Bitcoin:</b> By clicking on the 'Send' button, an input field opens. Enter the amount of
                    Bitcoin you want to send to the user and click on 'Send'.</li>
            </ul>
        </li>
        <li><b>Transactions:</b> In the 'Transactions' section, you can view and track all completed transactions.</li>
        <li><b>News:</b> Stay up-to-date with the 'News' section. Thanks to the integration of the Gnews API, you
            receive daily current news from the world of cryptocurrencies here.</li>
    </ul>

    <h2>Note:</h2>

    <p>This application is a Customer Relationship Management (CRM) tool that operates with CRUD (Create, Read, Update,
        Delete) functionalities and is based on Angular. Firebase serves as the backend, while the user interface is
        designed using Angular Material, which is based on the principles of Material Design.</p>

    <p>This tool mainly serves for demonstration and illustration of my skills; no real transactions or actions are
        possible. Enjoy exploring and testing!</p>
</div>