.login-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px;
    width: clamp(320px, 133.33333333333334px + 46.666666666666664vw, 600px);
    height: 600px;
    gap: 22px;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.input-container {
    display: flex;
    gap: 16px;
    // width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 8px;
    // width: 100%;
}

.back-btn {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

@media(max-width: 700px) {
    .login-card {
        height: max-content;
    }
}