<mat-spinner class="loader" *ngIf="loading"></mat-spinner>

<div *ngIf="avatar">
    <mat-card [style.background]="this.user.color" class="user-detail-header box-shadow">

        <button mat-icon-button class="back-btn" (click)="this.router.navigate(['/user'])">
            <mat-icon>arrow_back</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="userMenu" class="detail-btn">
            <mat-icon>more_horiz</mat-icon>
        </button>

        <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="openEditUserDetail()">Edit</button>
            <button mat-menu-item (click)="deleteUser()">Delete</button>
        </mat-menu>

        <img src="assets/img/{{ avatar }}.webp">

        <div class="user-details">
            <h2>{{ user.firstName }} {{ user.lastName }}</h2>
            {{ user.email }}
            <!-- <p>BTC Amount: {{ user.btcAmount }}</p> -->
        </div>


    </mat-card>


    <mat-card class="mt-32 detail-card box-shadow">

        <button mat-icon-button [matMenuTriggerFor]="menu" class="detail-btn">
            <mat-icon>more_horiz</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openEditAdress()">Edit</button>
        </mat-menu>

        <mat-card-header>
            <mat-card-title>Adress</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            {{ user.street }} <br>
            {{ user.zipCode }} {{ user.city }}
        </mat-card-content>

    </mat-card>

    <mat-card class="mat-mdc-card mdc-card mt-32 detail-card amount-card box-shadow">

        <mat-card-header>
            <mat-card-title>Bitcoin Amount</mat-card-title>
        </mat-card-header>

        <mat-card-content class="amount">
            <p>Bitcoins received up to now: <b>{{ user.btcAmount }} ₿.</b></p>
        </mat-card-content>

        <div class="add-button">
            <button (click)="openAddTransaction()" mat-fab color="primary" matTooltip="Send BTC"
                matTooltipPosition="above">
                <mat-icon>send</mat-icon>
            </button>
        </div>
    </mat-card>
</div>