.user-detail-header {
    display: flex;
    align-items: center;
    padding: 30px;
    border-radius: 20px;

    img {
        width: clamp(100px, 84.13379073756433px + 4.288164665523156vw, 150px);
        height: auto;
        border-radius: 50%;
        object-fit: cover; 
    }

    .user-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            font-size: 2em;
            margin-bottom: 0.5em;
            color: #333;
        }

        p {
            margin: 0;
            color: #666;
            font-size: 1.2em;
        }
    }
}


.detail-card {
    position: relative;
    padding: 30px;
    border-radius: 20px;
}


.detail-btn {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.add-button {
    position: absolute;
    bottom: 56px;
    right: 56px;
}

.back-btn {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}