.user-detail-header {
    display: flex;

    align-items: center;
    padding: 30px;
    border-radius: 20px;

    .detail-btn {
        margin-left: auto; // Positioniert den Button am Ende der Flexbox
    }

    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover; // Behält das Seitenverhältnis des Bildes bei
        margin-right: 30px;
    }

    .user-details {
        h2 {
            font-size: 2em;
            margin-bottom: 0.5em;
            color: #333;
        }

        p {
            margin: 0;
            color: #666;
            font-size: 1.2em;
        }
    }
}


.detail-card {
    position: relative;
    padding: 30px;
    border-radius: 20px;
}


.detail-btn {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.add-button {
    position: absolute;
    bottom: 56px;
    right: 56px;
}

.back-btn {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}