<mat-spinner class="loader" *ngIf="loading"></mat-spinner>

<div *ngIf="!loading">
    <mat-card class="card box-shadow">
        <table>
            <tr>
                <th>Name</th>
                <th>E-Mail</th>
                <th>City</th>
            </tr>

            <tr *ngFor="let user of allUsers" [routerLink]="['/user', user.id]">
                <td class="user-info">
                    <div class="color-point" [style.background]="this.user.color"></div>
                    <div class="user-name">{{ user.firstName }} {{ user.lastName }}</div>
                </td>
                <td>{{ user.email }}</td>
                <td>{{ user.city }}</td>
            </tr>
        </table>
    </mat-card>

    <button (click)="openDialog()" mat-fab color="primary" class="add-button" matTooltip="Add user"
        matTooltipPosition="above">
        <mat-icon>add</mat-icon>
    </button>
</div>