<mat-spinner class="loader" *ngIf="loading"></mat-spinner>

<div class="search-form-container">
    <form class="search-form" role="search">
        <input class="search-input" type="text" placeholder="Search..." autofocus required
            (keyup)="filterByNames(filterByName.value)" #filterByName />
        <button class="submit-button" *ngIf="filteredUsers.length != 1" type="submit">{{ filteredUsers.length }} <b class="result">Results</b></button>
        <button class="submit-button" *ngIf="filteredUsers.length == 1" type="submit"><b class="result">1 Result</b></button>
    </form>
</div>


<div *ngIf="!loading">

    <mat-card class="card box-shadow">
        <table>
            <tr>
                <th>Name</th>
                <th>E-Mail</th>
                <th>City</th>
            </tr>

            <tr *ngFor="let user of filteredUsers" [routerLink]="['/user', user.id]">
                <td class="user-info">
                    <div class="color-point" [style.background]="this.user.color"></div>
                    <div class="user-name">{{ user.firstName }} {{ user.lastName }} <b>{{ currentLoggedUser ===
                            user.email ? '(You)' : '' }}</b> </div>
                </td>
                <td>{{ user.email }}</td>
                <td>{{ user.city }}</td>
            </tr>
        </table>
    </mat-card>
</div>