.add-button {
    position: absolute;
    bottom: 56px;
    right: 56px;
}

.color-point {
    object-fit: contain;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #555;
    position: absolute;
    left: 18px;
    top: 24px;
}

.card {
    width: 100%;
    border-radius: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid #ddd;

        td {
            position: relative;
            height: 60px;
            padding: 8px;
            font-size: 16px;
            text-align: center;
            cursor: pointer;
        }

        th {
            padding: 8px;
            text-transform: uppercase;
            font-size: 18px;
            color: #555;
        }

        &:not(:first-child):hover {
            background-color: #f5f5f5;
        }
    }
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media(max-width: 1100px) {
    table {
        td:nth-child(2) {
            display: none;
        }

        th:nth-child(2) {
            display: none;
        }
    }
}


@media(max-width: 600px) {
    .user-info {
        display: flex !important;
        justify-content: flex-end !important;
        align-items: center !important;
        width: 100;
    }
}