<div class="chart-container" #chart>
    <canvas id="myChart"></canvas>

    <div>
        <span class="credit" #typedTarget></span>
    </div>
</div>


<div class="loader-container" *ngIf="loading && landScapeView">
    <span class="span">Loading Bitcoin Chart</span>
    <div class="dot-elastic"></div>
</div>


<div #rotate class="d-none rotate">
    <span class="span">
        Please rotate your device to view the Chart
    </span>

    <mat-icon class="rotate-icon">screen_rotation</mat-icon>
</div>