<!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->

<mat-card style="display: flex; flex-direction: column; padding: 16px; justify-content: center; align-items: center; gap: 10px; width: 300px;">

    <mat-card-title>Forgot Password ?</mat-card-title>
    
    <mat-card-content style="width: 100%; display: flex; gap: 10px; flex-direction: column; text-align: center;">
        <span style="font-weight: 500; color: rgb(0 0 0 / 70%);">Enter your email and we'll send you a link to reset your password</span>

        <form style="width: 100%; margin-bottom: 0;">
            <mat-form-field style="width: 100%;">
                <mat-label>Email</mat-label>
                <input matInput type="email" style="width: 100%;">
                <mat-error>Please enter a valid email</mat-error>
            </mat-form-field>
        </form>
    </mat-card-content>

        <button mat-button color="primary">Submit</button>

        <a style="display: flex; align-items: center; cursor: pointer;"><mat-icon style="height: 20px; width: 20px; object-fit: contain;">arrow_back_ios</mat-icon> Back to Login</a>
</mat-card>