.mat-card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 400px;

    .title {
        margin-bottom: 16px;
    }
}

.mat-card-content {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-align: center;

    span {
        font-weight: 500;
        color: rgb(0 0 0 / 70%);
    }

    form {
        margin-bottom: 0;
    }
}

.back-btn {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}


@media(max-width: 550px) {
    .mat-card {
        width: unset;
    }

}