.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    .title-div {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .transaction-card {
        width: 250px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        cursor: default;


        &:hover {
            background-color: #f5f5f5;
        }

        .content-row {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 10px;
            gap: 10px;
        }

        .label {
            font-weight: 600;
            color: #777;
            font-size: 1.1em;
        }

        .value {
            font-weight: 600;
            color: #333;
            font-size: 1em;
        }
    }
}