<div class="card-container">

    <mat-card class="transaction-card box-shadow" [class.new-transaction]="transaction.isNew"
        *ngFor="let transaction of allTransactions; let index = index">
        <h2 class="transaction-title">Transaction Nr. {{ allTransactions.length - index }}</h2>
        <mat-card-content>
            <div class="content-row">
                    <span class="label">From:</span>
                    <span class="value">{{ transaction.senderName }} {{ transaction.senderLastName }}</span>
            </div>

            <div class="content-row">
                    <span class="label">To:</span>
                    <span class="value">{{ transaction.firstName }} {{ transaction.lastName }}</span>
            </div>

            <div class="content-row">
                <span class="label">Amount:</span>
                <span class="value"> {{ transaction.btcAmount }} BTC</span>
            </div>
            <div class="content-row">
                <span class="label">Transaction Date:</span>
                <span class="value">{{ transaction.date }}</span>
            </div>
        </mat-card-content>

        <button mat-stroked-button color="warn" (click)="deleteTransaction(transaction.transactionId)">Delete</button>
    </mat-card>
</div>

<span class="no-transactions" *ngIf="allTransactions.length <= 0 " #typedTarget></span>