* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.margin-right-16 {
    margin-right: 16px;
}

.full-width {
    width: 100%;
}

.mt-32 {
    margin-top: 32px;
}

.pt-16 {
    padding-top: 16px !important;
}

.box-shadow {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.h1 {
    display: block;
    font-weight: 600 !important;
    color: #333 !important;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: default;
}

.credit {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
}

.d-none{
    display: none !important;
}